/* Reset some default styles */
body, html, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Apply a background color and text color to the entire page */
  body {
    background-color: #f2f2ff;
    color: #00004c;
    font-family: Arial, sans-serif;
  }
  
  /* Center the survey form in the middle of the page */
  .form-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #e5e5ff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  /* Style the survey questions and answer dropdowns */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #3232ff;
    border-radius: 3px;
  }
  
  /* Style the submit button */
  input[type="submit"] {
    background-color: #00009a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #00004c;
  }
  

  br {
    margin: 10px 0;
  }
  
  